h1{
	color: darkmagenta;
}
h2{
	color: olive;
}
li{
	list-style: square;
}
html-list{
	text-align: center;
}
body{
	background-color: beige;
}

img{
	border-radius: 33%;
}

li{
	color: crimson;
}

p{
	color: teal;
}